{% extends 'main/layout.html' %}

{% block title %}История{% endblock%}
{% block content %}
<div class="about">
  <h1>История</h1>
  <p>
    Основные центры возникновения и развития рок-музыки — США и Западная Европа (особенно Великобритания). Большинство
    текстов песен — на английском языке, но, с некоторым запозданием, национальная рок-музыка появилась практически во
    всех странах. Русскоязычная рок-музыка (т. н. русский рок) появилась в СССР в 60—70-х и достигла пика развития в
    80-х, продолжив развиваться в 90-х.
  </p>
  <button class="btn btn-warning">Контакты</button>
</div>
{% endblock%}