{% extends 'main/layout.html' %}

{% block title %}главная{% endblock%}
{% block content %}
<div class="glav">
  <h1>{{title}}</h1>
  <p>
    Рок-музыка имеет большое количество направлений: от достаточно «лёгких» жанров, таких как танцевальный рок-н-ролл,
    от которого в своё время это направление и произошло (в некотором смысле можно считать, что рок — направление
    рок-н-ролла), поп-рок, брит-поп, до брутальных и агрессивных жанров — дэт-метала и грайндкора. Содержание песен
    варьируется от лёгкого и непринуждённого до мрачного, глубокого и философского.
  </p>
  <button class="btn btn-warning">Контакты</button>
  <!--{%for el in values%}
  {%if el == 'Some' %}
  <p>{{el}}</p>
  {% endif %}
  {% endfor %}-->
</div>
{% endblock%}